
<div class="text-center">
  <h1>Available Airports</h1>
</div>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Airport Code</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Region Code</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let airport of airports">
        <td>{{ airport.id }}</td>
        <td>{{ airport.airportCode }}</td>
        <td>{{ airport.name }}</td>
        <td>{{ airport.country }}</td>
        <td>{{ airport.region }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
