<div class="text-center">
  <h3>Flight Details: {{ flight.flightNumber }}</h3>
</div>
<div class="card my-5">
  <div class="card-body">
    <div class="table-responsive .w-auto ">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Price</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Flight Duration</th>
        <th scope="col">Total Seats</th>
        <th scope="col">Total Available Seats</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col">Airline</th>
        <th scope="col">Departure Date & Time</th>
        <th scope="col">Arrival Date & Time</th>
        <th scope="col">Back To Flights Overview</th>
        <th scope="col">Book</th>

      </tr>
      </thead>
      <tbody>
      <tr >
        <td>{{ flight.id }}</td>
        <td>{{ flight.advertisedPrice }} EURO</td>
        <td>{{ flight.flightNumber }}</td>
        <td>{{ flight.flightDuration }}</td>
        <td>{{ flight.totalSeats }}</td>
        <td>{{ flight.totalAvailableSeats }}</td>
        <!--        *ngIf only displays on actual value's and otherwise skips check happens on front end part -->
        <!--        ternary if statement to display a default value if departureAirport equals undefined-->
        <!--        condition ? exprIfTrue : exprIfFalse-->
        <td >{{ flight.departureAirport != undefined ? flight.departureAirport.name : "Departure N/A" }}</td>
        <td >{{ flight.arrivalAirport != undefined ? flight.arrivalAirport.name : "Arrival N/A" }}</td>
        <td> {{ flight.airline!= undefined ? flight.airline.name :"Airline N/A" }}</td>
        <td>{{ flight.departureTime | date:'medium' : '+2400' }}</td>
        <td>{{ flight.arrivalTime | date:'medium' : '+2400'}}</td>
        <td><a routerLink="/flights" class="btn btn-info">Back To Flights Overview</a></td>
        <td><a [routerLink]="['/addTicket', flight.id]" class="btn btn-info">Order Ticket {{flight.flightNumber}}</a></td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
