<div class="card">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Base Price</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Flight Duration</th>
        <th scope="col">Total Seats</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col">Airline</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flight of flights" >
        <td>{{ flight.id }}</td>
        <td>{{ flight.basePrice }}</td>
        <td>{{ flight.flightNumber }}</td>
        <td>{{ flight.flightDuration }}</td>
        <td>{{ flight.totalSeats }}</td>
<!--        *ngIf only displays on actual value's and otherwise skips check happens on front end part -->
<!--        ternary if statement to display a default value if departureAirport equals undefined-->
<!--        condition ? exprIfTrue : exprIfFalse-->
        <td >{{ flight.departureAirport != undefined ? flight.departureAirport.name : "Departure N/A" }}</td>
        <td >{{ flight.arrivalAirport != undefined ? flight.arrivalAirport.name : "Arrival N/A" }}</td>
        <td>{{ flight.airline!= undefined ? flight.airline :"Airline N/A" }}</td>
        <a routerLink="/tickets" class="btn btn-info">Order Ticket</a>
      </tr>
      </tbody>
    </table>
  </div>
</div>
