  <div class="text-center">
    <h3>Search Available Flights</h3>
  </div>
<div class="card my-5">
  <div class="card-body">
    <div class="table-responsive-sm">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Advertised Price</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Total Available Seats</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col">Airline</th>
        <th scope="col">Flight Details</th>
        <th scope="col">Book</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flight of flights" >
        <td>{{ flight.id }}</td>
        <td>{{ flight.basePrice }} EURO</td>
        <td>{{ flight.flightNumber }}</td>
        <td>{{ flight.totalSeats }}</td>
<!--        *ngIf only displays on actual value's and otherwise skips check happens on front end part -->
<!--        ternary if statement to display a default value if departureAirport equals undefined-->
<!--        condition ? exprIfTrue : exprIfFalse-->
        <td >{{ flight.departureAirport != undefined ? flight.departureAirport.name : "Departure N/A" }}</td>
        <td >{{ flight.arrivalAirport != undefined ? flight.arrivalAirport.name : "Arrival N/A" }}</td>
        <td>{{ flight.airline!= undefined ? flight.airline.name :"Airline N/A" }}</td>
        <td><a [routerLink]="['/getFlightById', flight.id]" class="btn btn-info">Show Flight Details</a></td>
        <td><a [routerLink]="['/addTicket', flight.id]" class="btn btn-info">Order Ticket {{flight.flightNumber}}</a></td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
