<div class="text-center">
  <h1>Add A New Ticket Here</h1>
</div>


<div class="card ">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #ticketForm="ngForm">

      <div class="form-group">
        <label for="flightNumber">Select Flight Number</label>
        <select [(ngModel)]="ticket.flight" class="custom-select" id="flightNumber" name="flightNumber" style="width: 100%;">
          <option disabled value="undefined">Select Flight Number</option>
          <option *ngFor="let flight of flights" [ngValue]="flight" >{{flight.flightNumber}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="flightNumber">Select A User</label>
        <select [(ngModel)]="ticket.user" class="custom-select" id="name" name="name" style="width: 100%;">
          <option disabled value="undefined">Select A User</option>
          <option *ngFor="let user of users" [ngValue]="user" >{{user.name}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
