<div class="card my-5">
  <div class="card-body">
    <div class="table-responsive-sm">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Advertised Price</th>
          <th scope="col">Flight Number</th>
          <th scope="col">Total Available Seats</th>
          <th scope="col">Departure Airport</th>
          <th scope="col">Arrival Airport</th>
          <th scope="col">Airline</th>
          <th scope="col">Details</th>
          <th scope="col">Book</th>
          <!--    <th scope="col">Update</th>-->
          <!--        <th scope="col">Delete</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let flight of flights" >
          <td>{{ flight.id }}</td>
          <td>{{ flight.advertisedPrice }} EURO</td>
          <td>{{ flight.flightNumber }}</td>
          <td>{{ flight.totalAvailableSeats }}</td>
          <!--        *ngIf only displays on actual value's and otherwise skips check happens on front end part -->
          <!--        ternary if statement to display a default value if departureAirport equals undefined-->
          <!--        condition ? exprIfTrue : exprIfFalse-->
          <td >{{ flight.departureAirport != undefined ? flight.departureAirport.name : "Departure N/A" }}</td>
          <td >{{ flight.arrivalAirport != undefined ? flight.arrivalAirport.name : "Arrival N/A" }}</td>
          <td>{{ flight.airline!= undefined ? flight.airline.name :"Airline N/A" }}</td>
          <td><a [routerLink]="['/getFlightById', flight.id]" class="btn btn-info">Show Details</a></td>
          <td><a routerLink="/addTicket" class="btn btn-info">Order Ticket</a></td>
          <!--    <td><a routerLink="/flights" (click)="update(flight.id!)" class="btn btn-info">update Flight</a></td>-->
          <!--        assert not null on flight.id with ! there will always be an ID on this specifice line rendered-->
          <!--        <td><a routerLink="/flights" (click)="delete(flight.id!)" class="btn btn-info">Delete Flight</a></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="text-center">
  <h1>Add A New Ticket Here</h1>
</div>


<div class="card ">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #ticketForm="ngForm">

      <div class="form-group">
        <label for="flightNumber">Select Flight Number</label>
        <select [(ngModel)]="ticket.flight" class="custom-select" id="flightNumber" name="flightNumber" style="width: 100%;">
          <option disabled value="undefined">Select Flight Number</option>
          <option *ngFor="let flight of flights" [ngValue]="flight" >{{flight.flightNumber}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="flightNumber">Select A User</label>
        <select [(ngModel)]="ticket.user" class="custom-select" id="name" name="name" style="width: 100%;">
          <option disabled value="undefined">Select A User</option>
          <option *ngFor="let user of users" [ngValue]="user" >{{user.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <input type="checkbox" name="paymentStatus" [(ngModel)]="ticket.paymentStatus">
        Ticket has been paid?
      </div>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
