<div class="text-center">
  <h3>Available Users</h3>
</div>

<div class="card my-5">
  <div class="card-body">
    <div class="table-responsive-sm">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">E-mail</th>
          <th scope="col">Telephone Number</th>
          <th scope="col">Permission Level</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users" >
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.emailAddress }}</td>
          <td>{{ user.telephoneNumber }}</td>
          <td>{{ user.userRole }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
