<div class="text-center">
  <h1>Add New Airport Here</h1>
</div>

<div class="card ">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #airportForm="ngForm">

      <div class="form-group">
        <label for="name">Enter Airport Name</label>
        <input id="name"
               name="name"
               type="text"
               class="form-control"
               [(ngModel)]="airport.name"
               placeholder="Enter the Airport Name"
               required #name="ngModel">
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" >Name is required</div>

      <div class="form-group">
        <label for="airportCode">Enter Airport Code</label>

        <input id="airportCode"
               name="airportCode"
               type="text"
               class="form-control"
               [(ngModel)]="airport.airportCode"
               placeholder="Enter the Airport Code"
               required #airportCode="ngModel">
      </div>
      <div *ngIf="airportCode.invalid && (airportCode.dirty || airportCode.touched)" class="alert alert-danger" >Airport Code is required</div>

      <div class="form-group">
        <label for="country">Enter Airport Country </label>

        <input id="country"
               name="country"
               type="text"
               class="form-control"
               [(ngModel)]="airport.country"
               placeholder="Enter the Airport's Country'"
               required #country="ngModel">
      </div>
      <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger" >Country is required</div>

      <div class="form-group">
        <label for="region">Enter Airport Region </label>
        <input id="region"
               name="region"
               type="text"
               class="form-control"
               [(ngModel)]="airport.region"
               placeholder="Enter the Airport's Region'"
               required #region="ngModel">
      </div>
      <div *ngIf="region.invalid && (region.dirty || region.touched)" class="alert alert-danger" >Region is required</div>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
