
<div class="text-center">
  <h3>All Registered Tickets</h3>
</div>

<div class="card my-5">
  <div class="card-body">
    <div class="table-responsive-sm">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Flight Number</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Departure Airport</th>
          <th scope="col">Arrival Airport</th>
          <th scope="col">Advertised Price</th>
          <th scope="col">Airline Provider</th>
          <th scope="col">Ticket Paid</th>
          <th scope="col">Delete Ticket</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of tickets" >
          <td>{{ ticket.id}}</td>
          <!--          I can access all the flight and user info via the ticket service -->
          <td>{{ ticket.flight?.flightNumber }}</td>
          <td>{{ ticket.user?.name }}</td>
          <td>{{ ticket.flight?.departureAirport?.name }}</td>
          <td>{{ ticket.flight?.arrivalAirport?.name }}</td>
          <td>{{ ticket.flight?.advertisedPrice }}</td>
          <td>{{ ticket.flight?.airline?.name }}</td>
          <td>{{ ticket.paymentStatus }}</td>
          <td><a routerLink="/deleteTicket" (click)="delete(ticket.id!)" class="btn btn-danger">Delete Ticket</a></td>

          <!--          <td><a routerLink="/tickets" class="btn btn-info">Details</a></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
